@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-1: #F01759;
    --color-2: #1E1E1E;
    --color-3: #FFFFFF;
    --color-4: #ebebeb;
    --color-5: #7e7d7d;
    --color-6: #111111;

    --fuente-roboto: 'Roboto', sans-serif;
}
body, html {
    background-color: var(--color-2);
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Navegacion */

.navegacion__contenedor {
    height: 75px;
    background-color: var(--color-1);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion__contenedor__invertido {
    height: 75px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: auto;
    height: auto;
    padding-left: 5vw;
}
.logo img{
    width: 50px;
    height: 50px;

}
.enlases__texto{
    width: 60vw;
    height: auto;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fuente-roboto);
    font-size: 1.2em;
}
.enlases a {
    color: var(--color-3);
    text-decoration: none;
    padding: 4px 8px;
}
.enlases__texto a:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 8px;
    
    transition: all 0.6s ease;
}
.menu-button {
    display: none; /* Oculto > 1200px*/   
}

/*menu desplegable*/

.menu-list {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--color-1);
    z-index: 999;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
 
}
.sedes__inv .menu-list { 
    background-color: var(--color-2);
    
}
.menu-list li {
    margin: 20px 0;
}
.menu-list li a {
    font-family: var(--fuente-roboto);
    color: var(--color-4);
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    padding: 10px;
    
}
.menu-list li a:hover {
    background-color: transparent;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked + .menu-button + .menu-list {
    display: block;
}
.content {
    margin-top: 75px; /* altura del menú */
    padding: 20px;
}

/* inicio */

.inicio{
    background-color: var(--color-1);
    display: flex;
    flex-direction: column-reverse;
   
}  
.inicio__texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 5.5vw;
    padding-left: 5.5vw;
    color: var(--color-3); 
    margin-top: 1vh;
    margin-bottom: 5vh;
}
.inicio__texto__umbrales img{
    height: auto;
    width: 35vw;
   
}
.inicio__texto__festival img{
    height: auto;
    width: 25vw;

}
.inicio__texto__centro {
    display: none; 
}

/* Sedes */

.sedes{
    height: auto;
    padding-right: 5.5vw;
    padding-left: 5.5vw;
    
}
.contenido__contenedor__inc1{
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
  
   
}
.contenido__contenedor__inc2{
    height: auto;
    /* margin-top: 5vh; */
    margin-bottom: 10vh;
   
   
}
.sedes__contenedor__card {
    width: auto;
    height: auto;
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    text-decoration: none;

}
.sedes__contenedor__card a {
    text-decoration: none;

}
.sedes__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    border-top: 0px;
    width: 26.5vw;
    height: auto;
    border-radius: 7.5px;
    overflow: hidden;
    background: var(--color-6);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    cursor: default;
    transition: all 0.3s ease;
    font-family: var(--fuente-roboto);
    border: 1px solid black;
    cursor: pointer;

}
.sedes__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.5%);
}
.sedes__card img {
    width: 26.5vw;
    height: auto; 
}
.Sedes__card__texto {
    color: var(--color-4);
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding: 1.5vh 0;
    width: auto;
    height: auto;
    text-align: center;
}
.Sedes__card__texto a {
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    margin-top:1vh;
    color: var(--color-4);
    background: var(--color-2);
    border: 1px solid var(--color-5);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.Sedes__card__texto a:hover {
    background: var(--color-1);
    color: var(--color-4);
}
.contenedor__bloque__texto {
    display: block;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.contenedor__bloque__texto__si {
    display: block;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-top: 10vh;
    
   
}
.contenedor__bloque__texto__se {
    display: block;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
 
   
}
.contenedor__bloque__texto__fi {
    display: block;
    padding-left: 5vw;
    padding-right: 5.5vw;
    padding-bottom: 10vh;
    
}
.sin-espacio .contenedor__bloque__texto {
    padding-top: 0vh;
   
}
.contenedor__bloque__texto__interior {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh; 
    border-top: 2px solid var(--color-5);   
    padding-top: 5vh ;
}
.contenedor__bloque__texto__interior__se {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh; 
    border-top: 2px solid var(--color-5);   
    padding-top: 5vh ;
    border-bottom: 2px solid var(--color-5);   
}
.texto__parrafos__contenedor{
    width: 59vw;   
    /* border-left: 2px solid var(--color-5); */
}
.texto__parrafos__contenedor__img{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    border-radius: 7px;
   
}
.separador {
    margin-top: 10vh;
   
}

/* masterclass */

.inicio__cedes__card1{
    display: flex;
    width: auto;
    height: auto;
    background-color: var(--color-6);
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
}
.inicio__cedes__card1:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.3%);
}
.inicio__cedes__card1 p {
    width: auto;
    height: auto;
    color: var(--color-3);
    font-family: var(--fuente-roboto);
    font-size: 1.25rem;
    margin: 3vh 0;
}
.inicio__cedes__card1 img {
    width: 15vw;
    height: auto;

}
.inicio__cedes__card2{
    display: flex;
    width: auto;
    height: 115vh;
    background-color: var(--color-6);
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
    padding-bottom: 0;
}
.inicio__cedes__card2:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.3%);
}
.inicio__cedes__card2 p {
    width: auto;
    height: auto;
    color: var(--color-3);
    font-family: var(--fuente-roboto);
    font-size: 1.25rem;
    margin: 3vh 0;
}
.inicio__cedes__card2 img {
    width: 40vw;
    height: auto;

}
.alinear__masterclass {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-6);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    border: 1px solid black;
}
.container {
    width: 87vw;
    height: auto;
}
.slider-wrapper{
    position: relative; 
    margin: 0 auto;
}
.slider {
    scrollbar-width: none;
    display: flex;
    aspect-ratio: 2 / 1;
    overflow-x: auto ;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-3);    
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a.active {
    opacity: 1;
}
.slider-nav a:hover {
    opacity: 1;
}

/* footer */

.footer__contenido {
    background-color: var(--color-1);
    color: var(--color-2);
    height: auto;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
}
.footer__contenido__contenedor{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.sin-espacio .footer__contenido__contenedor{
  
    border-bottom: none;
    border-top: none;
}
.footer__contenido__texto {
    
    font-family: var(--fuente-roboto);
    font-size: 1em;
}
.footer__contenido__logo {
    width: 50px;
    height: 50px;
    

}
.footer__contenido__logo img {
    width: 50px;
    height: 50px; 

}

/* texto */

.texto__titulos {
    font-family: var(--fuente-roboto);
    font-size: 3.5em;
    color: var(--color-5);
    margin-top: 0vh;
    margin-bottom: 4vh;  
}
.texto__titulos__linea {
    font-family: var(--fuente-roboto);
    font-size: 3.5em;
    color: var(--color-5);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    border-top: 2px solid var(--color-5);
    padding-top: .2em;
}
.texto__subtitulos {
    font-family: var(--fuente-roboto);
    font-size: 1.5em;
    color: var(--color-1);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    width: 28vw;
}
.texto__parrafos{
    font-family: var(--fuente-roboto);
    font-size: 1.25em;
    color: var(--color-4);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    width: auto;
}

.texto__parrafos__2{
    font-family: var(--fuente-roboto);
    font-size: 1.25em;
    color: var(--color-4);
    margin-top: 0vh;
   
    width: auto;
    padding-left: 3rem;
}

/* Enlaces */

.custom-link {
    font-family: var(--fuente-roboto);
    color: var(--color-5);              
    text-decoration: none;   
    position: relative;      
    transition: color 0.3s;   
}
.custom-link::after {
    content: "";              
    position: absolute;
    left: 0;
    bottom: -3px;             
    width: 0;                 
    height: 2px;             
    background-color: var(--color-1);  
    transition: width 0.3s;  
}
.custom-link:hover {
    color: var(--color-1);          
}
.custom-link:hover::after {
    width: 100%;              
}

/* Enlaces invertidos*/

.custom-link-inv {
    font-family: var(--fuente-roboto);
    color: var(--color-2);              
    text-decoration: none;   
    position: relative;      
    transition: color 0.3s;   
}
.custom-link-inv::after {
    content: "";              
    position: absolute;
    left: 0;
    bottom: -3px;             
    width: 0;                 
    height: 2px;             
    background-color: var(--color-2);  
    transition: width 0.3s;  
}
.custom-link-inv:hover {
    color: var(--color-2);          
}

.custom-link-inv:hover::after {
    width: 100%;              
}
.carousel {
    position: relative;
    width: 89vw;
    height: 40vw;
    overflow: hidden;
}


  .carousel__cedes {
    position: relative;
    width: 40vw;
    height: 48vw;
    overflow: hidden;
    
}
  
.carousel-image,
.carousel-image2,
.carousel-image3,
.carousel-image4,
.carousel-image-inicio  {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-image.active,
.carousel-image2.active,
.carousel-image3.active,
.carousel-image4.active,
.carousel-image.inicio.active {
    opacity: 1;
}

  
.icono-ubicacion {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    filter: grayscale(100%);
    margin-right: 5px;
}

.contenedor__carrusel {
    width: 40vw;
    height: auto;
    background-color: var(--color-6);
      border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    display: block;
    border: 1px solida #16cf3e;
    overflow: hidden;
}
.contenedor__carrusel:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.2%);
}
.texto__lateral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.carousel__masterclass{
     background-color: var(--color-6);
      border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    display: block;
    height: auto;
    width: 40vw;
    overflow: hidden;
    padding-bottom: 2vh;
}
.carousel__masterclass:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.2%);
}
.carrusel {
    position: relative;
    width: 40vw;
    height: 50vw;
    overflow: hidden;
 
    background: #000;
}
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.377);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    user-select: none;
}
.arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.cartel__img {
    width: 58vw;
    height: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    border-radius: 7px;
  }


.logo__qs {
    margin: 8vh 0;
    width: 30vw;
    height: auto;
    box-shadow: none;
}
  

.input-container {
    position: relative;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
   
}

/* contacto */

.formcontato{
    /* border: 3px solid #962667; */
    width: auto;
    height: auto;
    padding-top: 0vh;
    padding-bottom: 0vh;
}
.formcontato__contacto{
    display: flex;
    justify-content: center;
    /* border: 3px solid #802696; */

}
.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.formcontato__form{
    display: flex;
    flex-direction: column;
}
.input-label{
    font-family: var(--fuente-roboto);
    color: var(--color-2);
}
.formcontato__input{

    box-sizing: border-box;
    font-size: 1em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--color-2);
    border-radius: 4px;
    border: 1px solid var(--color-5);
    width: 59vw;
    height: 8vh;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    font-family: var(--fuente-roboto);
    color: var(--color-4);
}
.formcontato__input::placeholder, .formcontato__textarea::placeholder{
    visibility: hidden;

}
.formcontato__input:focus, .formcontato__textarea:focus{
  outline: none;
}
.input-label, .textarea-label {
    position: absolute;
    font-family: var(--fuente-roboto);
    color: var(--color-4);
    top:1.2rem;
    left:1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    transition: all 0.25s;
}
.formcontato__textarea {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--color-2);
    border-radius: 4px;
    border: 1px  solid var(--color-5);
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: var(--fuente-roboto);
    color: var(--color-4);
    font-size: 1rem;
    resize: none;
    
}
.textarea-label{
    color: var(--color-4);
}
.formcontato__botao{
    width: 165px;
    height: 51px;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--color-2);
    font-family: var(--fuente-roboto);
    border: none;
    color: var(--color-3);
    border: 1px solid var(--color-5);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.formcontato__botao:hover {
    background-color: var(--color-1);
    color: var(--color-4);
    border: 1px solid var(--color-4);
}

.formcontato__input:not(:placeholder-shown) + .input-label,
.formcontato__input:focus + .input-label,
.formcontato__textarea:not(:placeholder-shown) + .textarea-label,
.formcontato__textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: 0.42rem;
    transition: all 0.25s;
    color: var(--color-5);
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-1);
    color: var(--color-3);
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
     z-index: 9999;
}
.barra-carga {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #e44f7c;
    border-radius: 0; 
}
.progreso {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #e2275f, #d83163);
    transition: width 0.2s ease;
}
.logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    z-index: 1;
}
.video-container {
    overflow: hidden;
   
}
.video-container iframe {
    aspect-ratio: 16 / 9;
    width: 89vw;
    height: auto;
  
}

/* Responsive */

@media (max-width:1200px) {
    .enlases__texto {
        width: 70vw;
    }

}

@media (max-width: 1024px) {
    .enlases{
        display: flex;
        align-items: center;
        height: 3.5rem;
        padding-right: 5vw;
    }
    .enlases__texto {
        display: none; 
    }
    .menu-button {
        padding-top: .4rem;
        display: flex; 
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
    }
    .menu-button > div {
    
        background: var(--color-3);
        height: 2px;
        width: 100%;
        border-radius: 5px; 
        transition: all 1s;
        transform-origin: left;
    }
    .menu-button:hover div:first-child {
        transform: rotate(45deg);
    }
    .menu-button:hover div:nth-child(2) {
        opacity: 0%;
    }
    .menu-button:hover div:last-child {
        transform: rotate(-45deg);
    }

    .inicio__texto {
        display: none;  
    }
    .inicio__texto__centro  {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }
    .inicio__texto__centro img {
        width: 60vw;
        margin-top: 2vh;    
        margin-bottom: 4vh;
    } 
     .texto__titulos__linea{
        text-align: center;
    }
}

@media (max-width: 768px) {

    .contenido__contenedor__inc1{
        margin-top: 5vh;
    }
    .contenido__contenedor__inc2{
        margin-bottom: 5vh;
    }
    .sedes__contenedor__card {
        flex-direction: column;
        gap: 20px;
    }
    .sedes__card {
        width: 86vw;
        height: auto;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
        transition: none;
    }
    .sedes__card img {
        width: 86vw;
    }
    .sedes__card:hover {
        transform: none;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    }
    .contenedor__bloque__texto__interior {
        display: block;
    }
    .contenedor__bloque__texto{
        width: 89vw;
    }
    .texto__subtitulos {
        width: 89VW;  
    } 
    .texto__parrafos__contenedor {
        width: 89vw;
    }
    .texto__parrafos__contenedor img {
        width: 89VW;
    }
    .slider {
        aspect-ratio: 2 / 3;
    }
    .carousel__cedes {
        width: 88vw;
        height: 73vw;
    }
    .icono-ubicacion {
        display: none;
    }
    .carousel__masterclass {
        width: 89vw;
        height: auto;
    }
    .carrusel {
        width: 89vw;
        height: 111vw;
    }
    .cartel__img {
        width: 89vw;
        height: auto;
    }
    .contenedor__carrusel {
       width: 89vw;
    }
    .texto__lateral{
       height: 10vh;
       width: auto;
       padding-left: 5vw;
       padding-right: 5vw;
       overflow: hidden;
       text-align: center;
    }
    .formcontato__text{
        width: 89vw;
    }
    .input-container{
        width: 89vw;
    }
    .formcontato__input{
        width: 89vw;
    }
    .formcontato__textarea{
        width: 89vw;
    }

}





