@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-1: #F01759;
    --color-2: #1E1E1E;
    --color-3: #FFFFFF;
    --color-4: #ebebeb;
    --color-5: #7e7d7d;

    --fuente-roboto: 'Roboto', sans-serif;
}
body, html {
    background-color: var(--color-2);
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* Navegacion */

.navegacion__contenedor {
    height: 75px;
    background-color: var(--color-1);;
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 5px solid rgb(184, 61, 221); */
}

.navegacion__contenedor__invertido {
    height: 75px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 5px solid rgb(184, 61, 221); */
}
.logo {
    width: auto;
    height: auto;
    padding-left: 5vw;
}
.logo img{
    width: 50px;
    height: 50px;

}
.enlases__texto{
    width: 60vw;
    height: auto;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fuente-roboto);
    font-size: 1.2em;
}
.enlases a {
    color: var(--color-3);
    text-decoration: none;
    padding: 4px 8px;
    

}
.enlases__texto a:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 8px;
    
    transition: all 0.6s ease;
}
.menu-button {
    display: none; /* Oculto > 1200px*/   
}


/* inicio */

.inicio{
    /* border: 5px solid rgb(146, 54, 173); */
    background-color: var(--color-1);
    display: flex;
    flex-direction: column-reverse;
   
}  
.inicio__texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 5.5vw;
    padding-left: 5.5vw;
    color: var(--color-3); 
    margin-top: 1vh;
    margin-bottom: 5vh;
   /* border: 5px solid rgb(61, 221, 154);  */
}
.inicio__texto__umbrales img{
    height: auto;
    width: 35vw;
   
}
.inicio__texto__festival img{
    height: auto;
    width: 25vw;

}
.inicio__texto__centro {
    display: none; 
}

.sedes{
    height: auto;
    padding-right: 5.5vw;
    padding-left: 5.5vw;
    
    /* border: 5px solid rgb(82, 182, 116);  */
}

.sedes__contenido{
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* border: 5px solid rgb(15, 206, 79);    */
}

.texto__titulos {
    font-family: var(--fuente-roboto);
    font-size: 3.5em;
    color: var(--color-5);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    border-top: 2px solid var(--color-5);
    padding-top: .2em;
    /* border: 5px solid rgb(182, 194, 14);  */

    
    /* border: 5px solid rgb(209, 164, 18); */
}

.texto__titulos__rosa {
    font-family: var(--fuente-roboto);
    font-size: 3.5em;
    color: var(--color-5);
    margin-top: 0vh;
    margin-bottom: 4vh; 
   
    
    
    /* border: 5px solid rgb(194, 14, 113);  */
}

.texto__subtitulos {
    font-family: var(--fuente-roboto);
    font-size: 1.5em;
    color: var(--color-1);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    

    width: 28vw;
   
    /* border: 5px solid rgb(31, 182, 89);  */

}

.texto__parrafos__contenedor{
    width: 59vw;
    
}

.texto__parrafos{
    font-family: var(--fuente-roboto);
    font-size: 1.5em;
    color: var(--color-4);
    margin-top: 0vh;
    margin-bottom: 4vh; 
    /* border: 5px solid var(--color-1); */

    width: auto;
    
    /* border: 5px solid rgb(31, 182, 89);  */
}

.texto__parrafos__contenedor img {
    width: 58vw;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 4vh;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.9);
    /* border: 5px solid rgb(31, 182, 89);  */
}


.custom-link {
    font-family: var(--fuente-roboto);
    
    color: var(--color-5);              /* Color rosa */
    text-decoration: none;    /* Sin subrayado */    /* Tamaño de fuente */
    position: relative;       /* Para posicionar la línea */
    transition: color 0.3s;   /* Transición para el color */
}

.custom-link::after {
    content: "";              /* Elemento pseudo para la línea */
    position: absolute;
    left: 0;
    bottom: -3px;             /* Posición debajo del texto */
    width: 0;                 /* Ancho inicial */
    height: 2px;              /* Grosor de la línea */
    background-color: var(--color-1);   /* Color de la línea */
    transition: width 0.3s;   /* Transición del ancho */
}

.custom-link:hover {
    color: var(--color-1);           /* Cambia a rosa fuerte al pasar el mouse */
}

.custom-link:hover::after {
    width: 100%;              /* La línea se expande completamente */
}

.sedes__contenedor__card {
    width: auto;
    height: auto;
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    /* max-width: 1200px; */
    /* border: 5px solid rgb(202, 16, 16); */
}


.sedes__card {
 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    border-top: 0px;
    width: 26.5vw;
    height: auto;
    border-radius: 7.5px;
    overflow: hidden;
    background: var(--color-2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    cursor: default;
    transition: all 0.3s ease;
    font-family: var(--fuente-roboto);
    border: 1px solid black;
   
   
}

.sedes__card:hover {
    /* transform: translateY(-5px); */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-.5%);
}


/* .sedes__card__imagen{
   
    
} */
.sedes__card img {

    width: 26.5vw;
    height: auto;
    

  
}

.Sedes__card__texto {
    color: #ebebeb;
    padding-top: 0vh;
    padding-bottom: 3vh;
    width: auto;
    height: auto;
    text-align: center;
    /* border: 5px solid rgb(105, 57, 34); */
}

.Sedes__card__texto a {
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    margin-top:1vh;
    color: var(--color-4);
    background: var(--color-2);
    border: 1px solid var(--color-5);
    border-radius: 5px;
    transition: all 0.3s ease;
    
    /* border: 5px solid rgb(34, 105, 105); */
    
}
.Sedes__card__texto a:hover {
    background: var(--color-1);
    color: var(--color-4);
}


.contenedor__bloque__texto {
    display: block;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* border: 5px solid rgb(7, 163, 67); 
     */
}

.contenedor__bloque__texto__interior {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh; 
    border-top: 2px solid var(--color-5);
    padding-top: 4vh ;
}


/* Responsive */

@media (max-width:1200px) {
    .enlases__texto {
        width: 70vw;
    }

}

@media (max-width: 1024px) {

    .texto__titulos{
        text-align: center;
    }
    .enlases{
        display: flex;
        align-items: center;
        height: 3.5rem;
        padding-right: 5vw;
    }
    .enlases__texto {
        display: none; 
    }
    .menu-button {
        padding-top: .4rem;
        display: flex; 
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
    }
    .menu-button > div {
    
        background: var(--color-3);
        height: 2px;
        width: 100%;
        border-radius: 5px; 
        transition: all 1s;
        transform-origin: left;
    }
    .menu-button:hover div:first-child {
        transform: rotate(45deg);
    }
    .menu-button:hover div:nth-child(2) {
        opacity: 0%;
    }
    .menu-button:hover div:last-child {
        transform: rotate(-45deg);
    }

    .inicio__texto {
        display: none;  
    }
    .inicio__texto__centro  {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }
    .inicio__texto__centro img {
        width: 60vw;
        margin-top: 2vh;    
        margin-bottom: 4vh;
        
        /* border: 5px solid rgb(184, 61, 221); */

    } 
 
}

@media (max-width: 768px) {
    .sedes__contenedor__card {
        flex-direction: column;
        gap: 20px;
    }
    .sedes__card {
       
        width: 86vw;
        height: auto;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
        transition: none;
    }
    .sedes__card img {
        width: 86vw;
    }

    .sedes__card:hover {
        transform: none;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    }

    .contenedor__bloque__texto__interior {
        display: block;
        
    }
    .contenedor__bloque__texto{
        width: 89vw;

    }

    .texto__subtitulos {
        width: 89VW;  
    }
        
    .texto__parrafos__contenedor {
        width: 89vw;
    }

    .texto__parrafos__contenedor img {
        width: 89VW;
    }

}



.footer {
    background-color: var(--color-1);
    color: var(--color-2);
    height: 20vh;
}


