body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* no permite objetos fuera del body */
}

.contedor__exterior { 
    width: auto;
    height: auto;   
    border: 1px solid #1ab660; 
}

.contedor__interior {
    margin-top: 10vh; /* margen superior */
    margin-bottom: 10vh; /* margen inferior */
    margin-left: 5vw; /* margen izquierdo */
    margin-right: 5vw; /* margen derecho */
    height: auto; 
    width: auto;
    border: 1px solid #1ab660;

    display: flex;  /* flexbox */
    justify-content: space-between; /* alinea los elementos, revisa la guia para mayor detalle: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
}

.contenido__izquierda{
    border: 1px solid #1f7597;
    width: 50%; /* 50% del contenedor padre */
    border-right: 5px solid #000000;; /* linea negra  en medio de los dos elementos*/
    padding-left: 1vw; /* margen izquierdo */

}

.contenido__derecha{
    border: 1px solid #11c5bc;
    width: 50%; /* 50% del otro contenedor padre */
    padding-left: 1vw;  /* margen izquierdo */
}



@media (max-width: 768px) {
    .contedor__interior {
        flex-direction: column; /* cambia la dirección de los elementos a coliumna, util para mostralos en listas, un elemento debajo de otro*/
    }
    
    .contenido__izquierda {
        border-right: none;     /* elimina la line negra */
    }
    .contenido__izquierda, .contenido__derecha {
        width: 100%;    /* 100% del contenedor padre para ambos elementos */
    }
}